.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--title-text-color);

  @include font;
  text-align: center;
  letter-spacing: 0.03em;

  &--color--black {
    color: var(--title-text-color);
  }

  &--position {
    margin-bottom: 50px;
  }

  &--invisible {
    display: none;
  }
}
