/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                  cards-set                                 */
/* -------------------------------------------------------------------------- */

.cards-set__title {
  margin-bottom: 4px;
  @include font($fs: 18px, $lh: 36px);
  text-align: left;
  letter-spacing: 0.06em;
}

/* ---------------------------------- media --------------------------------- */

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--title-text-color);

  @include font;
  text-align: center;
  letter-spacing: 0.03em;

  &--color--black {
    color: var(--title-text-color);
  }

  &--position {
    margin-bottom: 50px;
  }

  &--invisible {
    display: none;
  }
}

.hero__title {
  width: 360px;
  @include font($fw: 900, $fs: 26px, $lh: 42px);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
  &--position {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    @include font($fw: 900, $fs: 44px, $lh: 60px);
  }
}
