h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: var(--white-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

*:hover,
*:focus {
  transition: color var(--duration) var(--timing-function);
}
